<div class="antialised relative pt-16 pb-32 overflow-hidden bg-white">
  <div class="mt-12">
    <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
      <div class="px-4 max-w-xl mx-auto sm:px-6 lg:py-32 lg:max-w-none lg:mx-0 lg:px-0 lg:col-start-2">
        <div>
          <h2 class="text-5xl sm:text-5xl font-extrabold tracking-tight text-gray-900">
            About our products
          </h2>
          <p class="mt-4 text-lg text-gray-500 italic">
            All of our products are made as natural as possible with the safest ingredients
          </p>
          <p class="mt-4 text-lg text-gray-500">
            Every product starts with 100% pure organic plant oil sustainably sourced from small family farms. Our products are made with the purest intentions because we’re unnaturally obsessed with all things au naturel.
            We believe everything you put onto your body matters. Each one of our products is made with skin-loving ingredients perfect for all skin types.
            From skin to hair to personal care, we make natural and cruelty-free products to nourish your body and keep you looking great.
          </p>
          <div class="mt-6">
            <a href="#" class="inline-flex bg-gradient-to-r from-purple-600 to-indigo-600 bg-origin-border px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white hover:from-purple-700 hover:to-indigo-700">
              Get started
            </a>
          </div>
        </div>
      </div>
      <div class="mt-12 sm:mt-16 lg:mt-0 lg:col-start-1">
        <div class="pr-4 -ml-48 sm:pr-6 md:-ml-16 lg:px-0 lg:m-0 lg:relative lg:h-full">
          <img class="w-full rounded-xl shadow-xl lg:absolute lg:right-0 lg:h-full lg:w-auto lg:max-w-none" src="https://images.unsplash.com/photo-1524222835726-8e7d453fa83c?ixlib=rb-1.2.1&auto=format&fit=scale&w=1200&q=50" alt="About our products">
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Tailwind Test",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Tailwind",
      "label": "Tailwind"
    }
  ],
  "presets": [
	{
      "name": "Tailwind Test"
    }
  ]
}
{% endschema %}