<section class="w-full lg:max-w-7xl mx-auto pt-12 sm:pt-32 sm:px-6 lg:px-8" aria-labelledby="sectionid">
  <div class="relative">
    <div class="absolute inset-0">
      <img src="https://images.unsplash.com/photo-1469334031218-e382a71b716b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" alt="" class="w-full h-full object-center object-cover">
    </div>
    <div class="relative bg-gray-900 bg-opacity-75 py-32 px-6 sm:py-40 sm:px-12 lg:px-16">
      <div class="relative max-w-3xl mx-auto flex flex-col items-center text-center">
        <h2 id="sectionid" class="text-5xl font-extrabold tracking-tight text-white">
          <span class="block sm:inline">Level up</span>
          <span class="block sm:inline">your desk</span>
        </h2>
        <p class="mt-3 text-xl text-white">Make your desk beautiful and organized. Post a picture to social media and watch it get more likes than life-changing announcements. Reflect on the shallow nature of existence. At least you have a really nice desk setup.</p>
        <a href="#" class="mt-8 w-full block bg-white border border-transparent rounded-md py-3 px-8 text-base font-medium text-gray-900 hover:bg-gray-100 sm:w-auto">Shop Workspace</a>
      </div>
    </div>
  </div>
</section>

<div class="relative py-12 bg-white" aria-labelledby="sectionid">
  <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
    <div class="lg:mt-0 lg:col-start-1">
      <div class="-ml-48 md:-ml-16 lg:px-0 lg:m-0 lg:relative lg:h-full">
        <img class="w-full shadow-xl lg:absolute lg:right-0 lg:h-full lg:w-auto lg:max-w-none" src="https://images.unsplash.com/photo-1515886657613-9f3515b0c78f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=662&amp;q=80" alt="About our products">
      </div>
    </div>
    <div class="py-10 px-5 max-w-xl mx-auto sm:px-6 lg:py-48 min-h-full lg:max-w-none lg:mx-0 lg:px-0 lg:col-start-2">
      <div class="space-y-12 sm:px-10 md:px-0">
        <blockquote>
          <p id="sectionid" class="text-5xl font-thin mb-8 leading-normal">
            &ldquo; Here is a customer testimonial .&rdquo;
          </p>
        <cite>— Learned Hand</cite>
        </blockquote>
      </div>
    </div>
  </div>
</div>

<!-- Image Left -->
<div class="relative py-12 bg-white" aria-labelledby="sectionid">
  <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
    <div class="lg:mt-0 lg:col-start-1">
      <div class="lg:px-0 lg:m-0 lg:relative lg:h-full">
        <img class="w-full shadow-xl lg:absolute lg:right-0 lg:h-full lg:w-auto lg:max-w-none" src="https://images.unsplash.com/photo-1515886657613-9f3515b0c78f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=662&amp;q=80" alt="About our products">
      </div>
    </div>
    <div class="py-10 px-5 max-w-xl mx-auto sm:px-6 lg:py-48 lg:max-w-none lg:mx-0 lg:px-0 lg:col-start-2">
      <div class="space-y-8 sm:px-10 md:px-0">
        <h2 id="sectionid" class="text-5xl">
          Fresh and delicious food
        </h2>
        <p class="text-lg italic">
          All of our products are made as natural as possible with the safest ingredients
        </p>
        <p class="text-lg">
          We pride ourselves on bringing our award-winning dishes to our customers. All of your favorite seasonal meals can be ordered online with pick up or delivery available. Order as much or as little as you like with great discounts for big orders. Please contact us if you have any questions.
        </p>
        <a href="#" class="inline-flex bg-indigo-600 hover:bg-indigo-700 px-4 py-2 text-white">
          Get started
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Image Right -->
<div class="relative py-12 bg-white" aria-labelledby="sectionid">
  <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
    <div class="lg:mt-0 lg:col-start-2">
      <div class="lg:px-0 lg:m-0 lg:relative lg:h-full">
        <img class="w-full shadow-xl lg:absolute lg:left-0 lg:h-full lg:w-auto lg:max-w-none" src="https://images.unsplash.com/photo-1456885284447-7dd4bb8720bf?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80" alt="About our products">
      </div>
    </div>
    <div class="py-10 px-5 max-w-xl mx-auto sm:px-6 lg:py-48 lg:max-w-none lg:mx-0 lg:px-0 lg:col-start-1">
      <div class="space-y-8 sm:px-10 md:px-0">
        <h2 id="sectionid" class="text-5xl">
          We make our products as natural as possible
        </h2>
        <h2 class="text-3xl">
          Contact Details
        </h2>
        <p class="text-lg italic">
          All of our products are made as natural as possible with the safest ingredients
        </p>
        <p class="text-lg">
          In our company we strive to keep products as natural as they can be to minimize issues for chemically-sensitive individuals. Each of our products is made with skin-loving ingredients and is safe to use on a daily basis.
        </p>
        <a href="#" class="inline-flex bg-indigo-600 hover:bg-indigo-700 px-4 py-2 text-white">
          Get started
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Contact Details -->
<div class="relative py-12 bg-white" aria-labelledby="sectionid">
  <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
    <div class="lg:pr-8 lg:mt-0 lg:col-start-1">
      <div class="lg:px-0 lg:m-0 lg:relative lg:h-full">
        <img class="w-full shadow-xl lg:absolute lg:right-0 lg:h-full lg:w-auto lg:max-w-none" src="https://images.unsplash.com/photo-1515886657613-9f3515b0c78f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=662&amp;q=80" alt="About our products">
      </div>
    </div>
    <div class="py-10 px-5 max-w-xl mx-auto sm:px-6 lg:py-48 lg:max-w-none lg:mx-0 lg:px-0 lg:col-start-2">
      <div class="space-y-8 sm:px-10 md:px-0">
        <h2 id="sectionid" class="text-5xl">
          Our Showroom
        </h2>
        <p class="text-lg italic">
          To fully appreciate the elegance of our products, we encourage you to visit our showroom.
        </p>
        <div class="space-y-4">
          <h3 class="text-3xl">Our address</h3>
          <p class="text-lg -mt-8">
              5th Ave, NY, 10001, USA
              Get directions
          </p>
        </div>
        <div class="space-y-4">
          <h3 class="text-3xl">Open hours</h3>
          <p class="text-lg -mt-8">
             Daily 11:00 AM — 6:00 PM
          </p>
        </div>
        <div class="space-y-4">
          <h3 class="text-3xl">Contact info</h3>
          <div class="text-lg">
            <p>
            	<a href="tel:+27 81 547 7879">+27 81 547 7879</a>
          	</p>
            <p>
            	<a href="mailto:hello@kntx.io">hello@kntx.io</a>
          	</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
	"name": "Tailwind Test",
	"tag": "section",
	"class": "tailwindtest",
	"settings": [
	  {
		"type": "header",
		"content": "Content"
	  },
	  {
		"type": "text",
		"id": "title",
		"label": "Title",
		"default": "Our showroom"
	  },
	  {
		"type": "richtext",
		"id": "description",
		"label": "Description",
		"default": "<p>To fully appreciate the elegance of our products, we encourage you to visit our showroom.</p>"
	  },
	  {
		"type": "select",
		"id": "layout",
        "label": "Layout",
		"default": "imageleft",
        "options": [
		  {
			"value": "map-left",
			"label": "Map Left"
		  },
		  {
			"value": "mapright",
			"label": "Map Right"
		  },
		  {
			"value": "imageleft",
			"label": "Image Left"
		  },
		  {
			"value": "imageright",
			"label": "Image Right"
		  },
	 	  {
			"value": "simple",
			"label": "Simple"
		  }
		]
	  },
	  {
		"type": "header",
		"content": "Google Map Settings"
	  },
	  {
  		"type": "textarea",
  		"id": "google_address",
  		"label": "Google maps address"
	  }
	],
 	"max_blocks": 10,
	"blocks": [
	  {
		"type": "contentblock",
		"name": "Content",
		"settings": [
		  {
			"type": "text",
			"id": "subheading",
			"label": "Subheading",
			"default": "Your content title"
		  },
		  {
			"type": "richtext",
			"id": "note",
			"label": "Note",
			"default": "<p>Content description goes here...</p>"
		  }
		]
	  }
	],
	"presets": [
	  {
		"name": "Contact Information",
		"settings": {
          "title": "Our showroom",
		  "description": "<p>To fully appreciate the elegance of our products, we encourage you to visit our showroom.</p>"
        },
		"blocks": [
		  {
			"type": "contentblock",
			"settings": {
				"subheading": "Our address",
				"note": "<p>5th Ave, NY, 10001, USA</p><p><a href=\"https://www.google.com\/maps\/dir\/?api=1&destination=5th+Ave%2C+NY%2C+10001%2C+USA\" title=\"Get directions\"> Get directions<\/a><\/p>"
			}
		  },
		  {
			"type": "contentblock",
			"settings": {
				"subheading": "Open Hours",
				"note": "<p>Daily 11:00 AM — 6:00 PM</p>"
			}
		  },
		  {
			"type": "contentblock",
			"settings": {
				"subheading": "Contact info",
				"note": "<p>+1-555-777-1234</p><p>hello-there@example.com</p>"
			}
		  }
		]
	}]
}
{% endschema %}
