<div class="relative py-16 overflow-hidden bg-white">
  <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
    <div class="px-4 max-w-xl mx-auto sm:px-6 lg:py-32 lg:max-w-none lg:mx-0 lg:px-0 lg:col-start-2">
      <div>
        <h2 class="text-5xl sm:text-5xl font-extrabold tracking-tight text-gray-900">
          About our products
        </h2>
        <p class="mt-4 text-lg text-gray-500 italic">
          All of our products are made as natural as possible with the safest ingredients
        </p>
        <p class="mt-4 text-lg text-gray-500">
          Every product starts with 100% pure organic plant oil sustainably sourced from small family farms. Our products are made with the purest intentions because we’re unnaturally obsessed with all things au naturel.
          We believe everything you put onto your body matters. Each one of our products is made with skin-loving ingredients perfect for all skin types.
          From skin to hair to personal care, we make natural and cruelty-free products to nourish your body and keep you looking great.
        </p>
        <div class="mt-6">
          <a href="#" class="inline-flex bg-gradient-to-r from-purple-600 to-indigo-600 bg-origin-border px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white hover:from-purple-700 hover:to-indigo-700">
            Get started
          </a>
        </div>
      </div>
    </div>
    <div class="mt-12 sm:mt-16 lg:mt-0 lg:col-start-1">
      <div class="pr-4 -ml-48 sm:pr-6 md:-ml-16 lg:px-0 lg:m-0 lg:relative lg:h-full">
        <img class="w-full rounded-xl shadow-xl lg:absolute lg:right-0 lg:h-full lg:w-auto lg:max-w-none" src="https://images.unsplash.com/photo-1469334031218-e382a71b716b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" alt="About our products">
      </div>
    </div>
  </div>
</div>

{% schema %}
{
	"name": "Tailwind Test",
	"tag": "section",
	"class": "tailwindtest",
	"settings": [
	  {
		"type": "header",
		"content": "Content"
	  },
	  {
		"type": "text",
		"id": "title",
		"label": "Title",
		"default": "Our showroom"
	  },
	  {
		"type": "richtext",
		"id": "description",
		"label": "Description",
		"default": "<p>To fully appreciate the elegance of our products, we encourage you to visit our showroom.</p>"
	  },
	  {
		"type": "select",
		"id": "layout",
        "label": "Layout",
		"default": "imageleft",
        "options": [
		  {
			"value": "map-left",
			"label": "Map Left"
		  },
		  {
			"value": "mapright",
			"label": "Map Right"
		  },
		  {
			"value": "imageleft",
			"label": "Image Left"
		  },
		  {
			"value": "imageright",
			"label": "Image Right"
		  },
	 	  {
			"value": "simple",
			"label": "Simple"
		  }
		]
	  },
	  {
		"type": "header",
		"content": "Google Map Settings"
	  },
	  {
  		"type": "textarea",
  		"id": "google_address",
  		"label": "Google maps address"
	  }
	],
 	"max_blocks": 10,
	"blocks": [
	  {
		"type": "contentblock",
		"name": "Content",
		"settings": [
		  {
			"type": "text",
			"id": "subheading",
			"label": "Subheading",
			"default": "Your content title"
		  },
		  {
			"type": "richtext",
			"id": "note",
			"label": "Note",
			"default": "<p>Content description goes here...</p>"
		  }
		]
	  }
	],
	"presets": [
	  {
		"name": "Contact Information",
		"settings": {
          "title": "Our showroom",
		  "description": "<p>To fully appreciate the elegance of our products, we encourage you to visit our showroom.</p>"
        },
		"blocks": [
		  {
			"type": "contentblock",
			"settings": {
				"subheading": "Our address",
				"note": "<p>5th Ave, NY, 10001, USA</p><p><a href=\"https://www.google.com\/maps\/dir\/?api=1&destination=5th+Ave%2C+NY%2C+10001%2C+USA\" title=\"Get directions\"> Get directions<\/a><\/p>"
			}
		  },
		  {
			"type": "contentblock",
			"settings": {
				"subheading": "Open Hours",
				"note": "<p>Daily 11:00 AM — 6:00 PM</p>"
			}
		  },
		  {
			"type": "contentblock",
			"settings": {
				"subheading": "Contact info",
				"note": "<p>+1-555-777-1234</p><p>hello-there@example.com</p>"
			}
		  }
		]
	}]
}
{% endschema %}